@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #FCFAF8;   
    font-family: 'Montserrat', sans-serif;
    color: #383838 !important; 
    scroll-behavior: smooth;
}
nav .container-fluid {
    padding: 1% 5%;
}
/* -----------------------------------container single page */
.main {
    width: 100%;
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}
section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-margin-top: 100px;
}
.main::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}
.main::-webkit-scrollbar-thumb {
    background: #a2a2a2;
    border-radius: 20px;
}
.title_text {
    line-height: 1;
    z-index: 500;
}
.title_lead {
    color: #a2a2a2;
    line-height: 1;
}
.title {
    width: 100%;
    height: calc(100% - 3rem);
}
.home .title {
    height: 90vh;
}
.works .title {
    height: 90vh;
}
.about .title {
    height: 90vh;
}
.contact .title {
    height: 80vh;
}
.borderLine {
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background: #ff4d5a;
}
.title .border-span span:first-child {
    margin-bottom: 1rem;
}
.title .border-span span:nth-child(2){
    margin-left: 2rem;
}

/* -----------------------------------WORK LANDING */
span.works_image {
    background: url(../img/work_re.png) no-repeat center;
    background-size: cover;
    height: 600px;
    display: block;
}
/* ------------------------------------ABOUT ME landing*/
span.about_image {
    background: url(../img/about_re2.png) no-repeat center;
    background-size: cover;
    height: 600px;
    display: block;
}
/* -----------------------------------CONTACT */
.card-contact {
    height: 80%;
}
.contact_socials>div:first-child.is-inview>div {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}
.contact_socials>div:first-child>div a {
    border-top: 1px solid #ff4d5a;
    padding: 1rem 0.5rem;
    justify-items: space-between;
    text-decoration: none;
    /* background-color: ; */
}
.contact_socials>div:first-child>div a p:first-child {
    font-size: 20px;
    padding: 0;
    
}
.contact_socials>div:first-child>div a p:last-child {
    font-size: 12px;
    padding: 0;
    
}
.contact_socials > div:first-child > div a:hover {
    padding: 8px 16px;
    border-top: 1px solid transparent;
    background-color: #414141;
    transition: all .3s ease-in;
    color: #FCFAF8 !important;
}
.contact_socials > div:first-child > div a:hover i {
    color: #ff4d5a;
}
footer {
    height: 100px;
}
.footer img {
    width: 55px;
    filter: opacity(0.5) drop-shadow(0 0 0 #383838);
}
.footer_card {
    background-color: transparent;
}
.footer_text {
    line-height: 1;
}

/* -----------------------------------WORK page */
.masthead {
    background-color: #000;
}
.masthead_image {
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 37%, rgba(0,0,0,0.65) 100%), url(../img/work_re3.png) no-repeat center;
    background-size: cover;
    height: 80vh;
    margin-top: 55px;
    display: block;
}
.works_borderLine {
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background: #FCFAF8;
}
.title .works_border-span span:first-child {
    margin-bottom: 1rem;
}
.title .works_border-span span:nth-child(2){
    margin-left: 2rem;
}
  
  /*---------------------------------------------------  */
.work_page {
    height: 65vh;
    margin-top: 5rem;
}
img {
    width: 100%;
    height: auto;
}
.work_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    grid-gap: 1em;
}
.work_list a {
    color: #FCFAF8 !important;
}
.work_image {
    border-radius: 5px;
    line-height: 0;
    overflow: hidden;
}
.work_image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}
.work_title {
    border-radius: 5px;
    /* font-size: 1.5em; */
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
    background:#383838ce;
}
.work_list:hover .work_title {
    opacity: 1;
    font-weight: bold;
}
.work_list:hover .work_image img {
    filter: blur(2px);
}
/* -----------------------------------ABOUT PAGE */

.aboutMe .title {
    position: absolute;
    top: 30vh;
}
.about_text {
    font-family: 'Open Sans', sans-serif;
    color: #a2a2a2;
}
.skill img {
    height: 50px;
    width: 50px;
}
.clip-text {
    font-size: 5vw;
    line-height: 1;
    margin: .25em;
    padding: .5em .75em;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(../img/jay_re.png);
    background-size: contain;
}
.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}
.clip-text:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}
.clip-text:after {
    position: absolute;
    z-index: -1;
    top: .125em;
    right: .125em;
    bottom: .125em;
    left: .125em;
    background-color: #4141419c;
}
.clip-text--no-textzone:before {
    background-position: -.75em 0;
}
.clip-text--no-textzone:after {
    content: none;
}
.clip-text--cover,
.clip-text--cover:before {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.skill_img .icon {
    filter: grayscale(100%);
    transition: filter .2s ease-in-out;
}
.skill_img:hover .icon {
    filter: none;
    transition: filter .2s ease-in-out;
}
.custom-tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
}
/* -------------------------------------General fixes */
a {
    color: #383838 !important;
    text-decoration: none;
}
.colored {
    color: #ff4d5a !important;
}
.pcolor {
    color: #383838;
}
.scolor {
    color: #a2a2a2;
}
.tcolor {
    color: #414141;
}
.wcolor {
    color: #FCFAF8 !important;
}
/* -------------------------------------Hover links */
.link_animation {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
}
.link_animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link_animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* ------------------------------------------------MEDIA */
@media (hover: none) { 
    .work_title {
        opacity: 1;
    }
    .work_image img {
        filter: blur(2px);
    }
}
@media (max-width: 575px) {
    .works_card, .aboutme_card {
        padding-top: 15%;
    }
    .works_img_wrapper img {
        display: none;
    }
    .work_gallery {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));    
    }
    .card-body {
        padding: 0;
    }
    .clip-text {
        font-size: 10vw;
    }
    .skill img {
        height: 45px;
        width: 45px;
    }
    span.works_image, span.about_image {
        /* width: 80%; */
        height: 50vh;
    }
    .masthead_image {
        height: 40vh;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .clip-text {
        font-size: 350%;
    }
    .aboutme_card {
        padding-top: 15%;
    }
    .masthead_image {
        height: 50vh;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .clip-text {
        font-size: 6vw;
    }
}


